<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
    <style>
        table,th,td{
            border : 2px solid grey;
            border-collapse:collapse;
            paddind:5px;
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    </style>


    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>

        </tr>
        <tr ng-repeat="x in myData | orderBy: 'Country'">

            <td>{{x.Name}}</td>
            <td>{{x.City}}</td>
            <td>{{x.Country}}</td>
        </tr>


    </table>

    <ul>
        <li ng-repeat="x in myData">
            {{ x.Name + ', ' + x.Country }}
        </li>
    </ul>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("https://www.w3schools.com/angular/customers.php").then(function (response) {
            $scope.myData = response.data.records;
        });
    });
</script>

</body>
</html>
