<!DOCTYPE html>
<html lang="en" ng-app="myServiceModule" ng-controller="MyController" id="simple">


    <p>Let's try this simple notify service, injected into the controller...</p>

    <input ng-init="message='test'" ng-model="message" >
    <button ng-click="callNotify(message);">NOTIFY</button>

    <p>(you have to click 3 times to see an alert)</p>


<script src="../../bower_components/angular/angular.min.js"></script>


<script src="script.js"></script>
<script src="protractor.js"></script>
</html>